.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    perspective: 1000px;
    cursor: pointer;
}

.card-container {
    width: 300px;
    height: 400px;
    position: relative;
}

#card {
    width: 100%;
    height: 300px;
    box-shadow: 0px 10px 5px #8d8c8c;
    transform-style: preserve-3d;
    transition: transform 1s;
    position: relative;
}

#card:hover {
    transform: rotateY(180deg);
}

.card-side {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#front-card {
    background-color: #888888;
}

#back-card {
    background-color: #01aec5;
    transform: rotateY(180deg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
